<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo"><a href="#"><span>[</span>E_learning <span>]</span></a></div>
<div class="br-sideleft overflow-y-auto">
  <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
  <div class="br-sideleft-menu">
    <a routerLink="table_dashboard" routerLinkActive="active" class="br-menu-link ">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Dashboard</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a routerLink="table_formation" routerLinkActive="active" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
        <span class="menu-item-label">Formation</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a routerLink="table_filiere" routerLinkActive="active" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
        <span class="menu-item-label"> Filiére</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a routerLink="table_classe" routerLinkActive="active" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
        <span class="menu-item-label">Classe</span>

      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a routerLink="table_TPs" routerLinkActive="active" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
        <span class="menu-item-label">Travaux Pratique</span>

      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a routerLink="table-group-tp" routerLinkActive="active" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
        <span class="menu-item-label">Groupe TPs</span>

      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a routerLink="table-etudiant" routerLinkActive="active" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
        <span class="menu-item-label">Etudiants</span>

      </div><!-- menu-item -->
    </a><!-- br-menu-link -->


    <a routerLink="table-enseignant" routerLinkActive="active" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
        <span class="menu-item-label">Enseignants</span>

      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
  </div><!-- br-sideleft-menu -->




  <br>
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->
<router-outlet></router-outlet>